.signUpIllu {
  width: 90%;
  height: 90%;
  margin: auto;
}
.logInIllu {
  width: 90%;
  height: 90%;
  margin: auto;
}


@media (max-width: 899px) {
  .signUpContainer {
    border: 0px !important;
    box-shadow: none !important;
  }
  .signUpIllu {
    display: none;
  }
  .logInContainer{
    border: 0px !important;
    box-shadow: none !important;
  }
  .logInIllu {
    display: none;
  }
}